In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Manipulate').getOrCreate()
spark

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/karliezou/miniconda3/envs/spark/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/08/08 12:56:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
names = spark.createDataFrame([('Abrahama', 'Lincoln')], ['first_name', 'last_name'])
names.show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|  Abrahama|  Lincoln|
+----------+---------+

In [3]:
names.rdd.id()

10

In [7]:
from pyspark.sql.functions import *

names = names.select(names.first_name, names.last_name, concat_ws(' ', names.first_name, names.last_name).alias('_name'))
names.show()

+----------+---------+----------------+
|first_name|last_name|           _name|
+----------+---------+----------------+
|  Abrahama|  Lincoln|Abrahama Lincoln|
+----------+---------+----------------+

In [8]:
names.rdd.id()

23

In [9]:
os.chdir('/Users/karliezou/Desktop/Courses/spark')
path = os.getcwd() + '/files_and_datasets/DataFrame_Essentials/Datasets/'

videos = spark.read.csv(path + 'youtubevideos.csv', inferSchema=True, header=True)

In [10]:
videos.limit(4).toPandas()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"""last week tonight trump presidency""|""last wee...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"""racist superman""|""rudy""|""mancuso""|""king""|""bac...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"""rhett and link""|""gmm""|""good mythical morning""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...

In [11]:
videos.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: string (nullable = true)
 |-- likes: string (nullable = true)
 |-- dislikes: string (nullable = true)
 |-- comment_count: string (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: string (nullable = true)
 |-- ratings_disabled: string (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)

## Fix data types

In [12]:
from pyspark.sql.types import *

In [28]:
df = videos.withColumn('views', videos['views'].cast(IntegerType())) \
        .withColumn('likes', videos['likes'].cast(IntegerType())) \
        .withColumn('dislikes', videos['dislikes'].cast(IntegerType())) \
        .withColumn('trending_date', to_date(videos['trending_date'], 'yy.dd.mm'))
        # .withColumn('publish_time', to_timestamp(videos['publish_time'], 'yyyy-mm-dd HH:mm:ss:ms'))

In [29]:
df.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: date (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_count: string (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: string (nullable = true)
 |-- ratings_disabled: string (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)

In [30]:
df.limit(4).toPandas()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,2017-01-14,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,2017-01-14,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"""last week tonight trump presidency""|""last wee...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,2017-01-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"""racist superman""|""rudy""|""mancuso""|""king""|""bac...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,2017-01-14,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"""rhett and link""|""gmm""|""good mythical morning""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...

In [63]:
df = df.withColumn('publish_time_2', regexp_replace(df.publish_time, 'T', ' '))
df = df.withColumn('publish_time_2', regexp_replace(df.publish_time_2, 'Z', ''))

df.select('publish_time_2').show(5, False)

+-----------------------+
|publish_time_2         |
+-----------------------+
|2017-11-13 17:13:01.000|
|2017-11-13 07:30:00.000|
|2017-11-12 19:05:24.000|
|2017-11-13 11:00:04.000|
|2017-11-12 18:01:41.000|
+-----------------------+
only showing top 5 rows

In [66]:
df = df.withColumn('publish_time_3', to_timestamp(df['publish_time_2'], 'yyyy-MM-dd HH:mm:ss.SSS')) 
df.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: date (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_count: string (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: string (nullable = true)
 |-- ratings_disabled: string (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)
 |-- publish_time_2: string (nullable = true)
 |-- publish_time_3: timestamp (nullable = true)

In [67]:
df.select('publish_time', 'publish_time_2', 'publish_time_3').show(5, False)

+------------------------+-----------------------+-------------------+
|publish_time            |publish_time_2         |publish_time_3     |
+------------------------+-----------------------+-------------------+
|2017-11-13T17:13:01.000Z|2017-11-13 17:13:01.000|2017-11-13 17:13:01|
|2017-11-13T07:30:00.000Z|2017-11-13 07:30:00.000|2017-11-13 07:30:00|
|2017-11-12T19:05:24.000Z|2017-11-12 19:05:24.000|2017-11-12 19:05:24|
|2017-11-13T11:00:04.000Z|2017-11-13 11:00:04.000|2017-11-13 11:00:04|
|2017-11-12T18:01:41.000Z|2017-11-12 18:01:41.000|2017-11-12 18:01:41|
+------------------------+-----------------------+-------------------+
only showing top 5 rows

In [59]:
renamed = df.withColumnRenamed('new', 'publish_time_2')

## Translate function

In [68]:
df.select('publish_time', translate(col('publish_time'), 'TZ', ' ').alias('trans')).show(5, False)

+------------------------+-----------------------+
|publish_time            |trans                  |
+------------------------+-----------------------+
|2017-11-13T17:13:01.000Z|2017-11-13 17:13:01.000|
|2017-11-13T07:30:00.000Z|2017-11-13 07:30:00.000|
|2017-11-12T19:05:24.000Z|2017-11-12 19:05:24.000|
|2017-11-13T11:00:04.000Z|2017-11-13 11:00:04.000|
|2017-11-12T18:01:41.000Z|2017-11-12 18:01:41.000|
+------------------------+-----------------------+
only showing top 5 rows

## Trim

In [69]:
df = df.withColumn('title', trim(df.title)) # rtrim/ltrim

In [70]:
df.select('title').show(4, False)

+--------------------------------------------------------------+
|title                                                         |
+--------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |
|Nickelback Lyrics: Real or Fake?                              |
+--------------------------------------------------------------+
only showing top 4 rows

## Lower

In [74]:
df.select('title', lower(df.title).alias('title_lowered')).show(5, False)

+--------------------------------------------------------------+--------------------------------------------------------------+
|title                                                         |title_lowered                                                 |
+--------------------------------------------------------------+--------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |we want to talk about our marriage                            |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|the trump presidency: last week tonight with john oliver (hbo)|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |racist superman | rudy mancuso, king bach & lele pons         |
|Nickelback Lyrics: Real or Fake?                              |nickelback lyrics: real or fake?                              |
|I Dare You: GOING BALD!?                                      |i dare you: going bald!?                                      |
+--------------------------------------------------------------+--------------------------------------------------------------+
only showing top 5 rows

## Case when

In [76]:
# option 1: when-otherwise

df.select('likes', 'dislikes', when(df.likes > df.dislikes, 'Good').when(df.likes < df.dislikes, 'Bad').otherwise('Undetermined').alias('Favoribility')).show(5, False)

+------+--------+------------+
|likes |dislikes|Favoribility|
+------+--------+------------+
|57527 |2966    |Good        |
|97185 |6146    |Good        |
|146033|5339    |Good        |
|10172 |666     |Good        |
|132235|1989    |Good        |
+------+--------+------------+
only showing top 5 rows

In [79]:
# expr
df.select('likes', 'dislikes', expr("CASE WHEN likes > dislikes THEN 'Good' WHEN dislikes > likes THEN 'Bad' ELSE 'Undetermined' END AS favoribility" )).show(5, False)

+------+--------+------------+
|likes |dislikes|favoribility|
+------+--------+------------+
|57527 |2966    |Good        |
|97185 |6146    |Good        |
|146033|5339    |Good        |
|10172 |666     |Good        |
|132235|1989    |Good        |
+------+--------+------------+
only showing top 5 rows

In [81]:
df.selectExpr('likes', 'dislikes', "CASE WHEN likes > dislikes THEN 'Good' WHEN dislikes > likes THEN 'Bad' ELSE 'Undetermined' END AS favoribility").show(3)

+------+--------+------------+
| likes|dislikes|favoribility|
+------+--------+------------+
| 57527|    2966|        Good|
| 97185|    6146|        Good|
|146033|    5339|        Good|
+------+--------+------------+
only showing top 3 rows

## Concatenate

In [84]:
df.select(concat_ws(' ', df.title, df.channel_title).alias('text')).show(5, False)

+------------------------------------------------------------------------------+
|text                                                                          |
+------------------------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE CaseyNeistat                               |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO) LastWeekTonight|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons Rudy Mancuso            |
|Nickelback Lyrics: Real or Fake? Good Mythical Morning                        |
|I Dare You: GOING BALD!? nigahiga                                             |
+------------------------------------------------------------------------------+
only showing top 5 rows

In [86]:
df.select('trending_date', year('trending_date'), month('trending_date')).show(3)

+-------------+-------------------+--------------------+
|trending_date|year(trending_date)|month(trending_date)|
+-------------+-------------------+--------------------+
|   2017-01-14|               2017|                   1|
|   2017-01-14|               2017|                   1|
|   2017-01-14|               2017|                   1|
+-------------+-------------------+--------------------+
only showing top 3 rows

In [88]:
df.select('trending_date', 'publish_time_3', datediff(df.publish_time_3, df.trending_date)).show(3)

+-------------+-------------------+---------------------------------------+
|trending_date|     publish_time_3|datediff(publish_time_3, trending_date)|
+-------------+-------------------+---------------------------------------+
|   2017-01-14|2017-11-13 17:13:01|                                    303|
|   2017-01-14|2017-11-13 07:30:00|                                    303|
|   2017-01-14|2017-11-12 19:05:24|                                    302|
+-------------+-------------------+---------------------------------------+
only showing top 3 rows

## array contains

In [94]:
array = df.select('title', split(df.title, ' ').alias('new'))
array.select('title', array_contains(array.new, 'MARRIAGE')).show(2, False)

+--------------------------------------------------------------+-----------------------------+
|title                                                         |array_contains(new, MARRIAGE)|
+--------------------------------------------------------------+-----------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |true                         |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|false                        |
+--------------------------------------------------------------+-----------------------------+
only showing top 2 rows

## array distinct

In [96]:
array.select('title', array_distinct(array.new)).show(4, False)

+--------------------------------------------------------------+-------------------------------------------------------------------------+
|title                                                         |array_distinct(new)                                                      |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |[WE, WANT, TO, TALK, ABOUT, OUR, MARRIAGE]                               |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|[The, Trump, Presidency:, Last, Week, Tonight, with, John, Oliver, (HBO)]|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |[Racist, Superman, |, Rudy, Mancuso,, King, Bach, &, Lele, Pons]         |
|Nickelback Lyrics: Real or Fake?                              |[Nickelback, Lyrics:, Real, or, Fake?]                                   |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
only showing top 4 rows

## array remove

In [97]:
array.select('title', array_remove(array.new, 'WE')).show(4, False)

+--------------------------------------------------------------+-------------------------------------------------------------------------+
|title                                                         |array_remove(new, WE)                                                    |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |[WANT, TO, TALK, ABOUT, OUR, MARRIAGE]                                   |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|[The, Trump, Presidency:, Last, Week, Tonight, with, John, Oliver, (HBO)]|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |[Racist, Superman, |, Rudy, Mancuso,, King, Bach, &, Lele, Pons]         |
|Nickelback Lyrics: Real or Fake?                              |[Nickelback, Lyrics:, Real, or, Fake?]                                   |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
only showing top 4 rows

# Functions

In [101]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

In [102]:
def square(x):
    return int(x**2)

In [103]:
square_udf = udf(lambda z: square(z), IntegerType()) 
# functions that manipulate on certian column
# for function that manipulate on df, does not need 'udf'

In [107]:
df.select('dislikes', square_udf('dislikes')).where(col('dislikes').isNotNull()).show(5)
# put where condition to apply only on notnull values, otherwise will get error

+--------+------------------+
|dislikes|<lambda>(dislikes)|
+--------+------------------+
|    2966|           8797156|
|    6146|          37773316|
|    5339|          28504921|
|     666|            443556|
|    1989|           3956121|
+--------+------------------+
only showing top 5 rows